[2017-12-18 16:10] roscopecoltran opened #2 "Indexing content / faceted search"
Hey,

Hope you are all well !

I wanted to extend the following golang project, https://github.com/hoop33/limo, using also bleve, with **blast**. Actually, I forked and updated limo in order to automatically fetch and add the repo topics in order to pre-fill limo's tags index.

But I would like to create a web-ui and create some facets to explore my starred repository.  So after a couple of search

[2018-06-08 00:20] fils opened #3 "key issue"
trying to get started with blast...

tried the command and got
"key path not found"

[code]

with document
[code]

any ideas what I am doing wrong?

[2018-06-08 01:29] mosuka commented on #3
Hi @fils ,

I had forgot to update README.md.
Please try following:

[code]

[2018-06-15 12:29] #3 closed

[2018-06-21 15:24] fils opened #4 "guidance on generating index mapping?"
Thanks for the previous help...   I've come back to playing with this and have a question or two if you have time.

1) I've generated a simple Dockerfile and docker-ized blast https://github.com/earthcubearchitecture-project418/garden/tree/master/newindex/Blast

2) I've not included any of the config files in this container..  though I don't know yet what is default in the Go code...  though I did

[2018-06-22 20:04] #4 closed, assigned to nobody

[2018-06-22 20:22] fils opened #5 "REST structure"
So I want to load into Blast using my own go RESTful client code.

In your example
[code]

I see we are doing a PUT to 0.0.0.0:8000/rest/ID  where ID is the ID of the document.

However, how is the JSON document sent in that PUT command?  Is this a BODY only or is there an association that needs to take place.   I have used the HTTPie package with

[code]
but it comes back 400 bad request.   If we

[2018-06-26 15:06] fils commented on #5
I think I may have figured it out looking at the source...

I didn't realize the JSON needed to be wrapped in "document" like in

[code]

[2018-08-03 07:49] mhf-ir opened #6 "Language contribute"
How can we add new language for better indexing?

[2018-08-03 07:52] mhf-ir opened #7 "Elasticsearch backward"
Is there any chance to have elasticsearch backward.
Major probem with elastic search is system requirement that if blast has same api via elasticsearch many developers will be replace it.
32gb for one node :cry:

[2018-08-03 07:55] gedw99 commented on #6
i think thats related to Bleve, not Blast.
Have a look in the Bleve repo...

[2018-08-03 08:33] #6 closed

[2018-08-03 08:37] mosuka commented on #6
Hi @mhf-ir,

As @gedw99 seys, Blast just uses Bleve.
If you want to contribute new language analyzer, please contact to Bleve project.

[2018-08-03 08:45] mosuka commented on #7
Hi @mhf-ir,

Hmm..
Unfortunately, there is no plan for that now.

[2018-08-03 09:00] gedw99 commented on #6
these are the stemmers in x package for bleve
https://github.com/blevesearch/blevex/tree/master/lang

[2018-08-04 07:56] mosuka commented on #5
@fils
Sorry for the late reply. I was working on recreate Blast. I committed new code, please try v0.1.0 out if you have time.

[2018-08-04 08:40] mosuka commented on #2
Hi @roscopecoltran ,

- How to integrate blast into another go app ?
    - Please use gRPC client or HTTP REST API.

- How to configure blast for managing those facets ?
    - If you mean managing index mapping, please see Bleve document.
http://blevesearch.com/docs/Index-Mapping/

- How to auto-increment the next doc id to index automatically ?
    - Unfortunately, Bleve doesn't support it.

- Is

[2018-08-04 12:37] #2 closed

[2018-09-12 06:57] gedw99 opened #16 "Running bleve extensions outside docker on Mac and windows"
Is anyone working on this aspect ?

I want to run blast as a standard system service rather than inside docker.
And I need to run on Mac and Windows.
So that brings up the bleve cgo based extensions.

[2018-09-12 13:51] mosuka commented on #16
Hi @gedw99

Unfortunately, I don't have a Windows platform, but I can describe you how to build Blast with enabling Bleve Extensions on macOS.
Please try the following steps:

1. Build and install dependencies

[code]

2. Build Blast with enabling Bleve Extensions on macOS

[code]

[2018-09-12 14:11] Scapal opened #17 "Badger instead of RocksDB"
Have you considered using Badger K/V store instead of RocksDB in order to keep CGO dependencies minimal ?

https://github.com/dgraph-io/badger

[2018-09-12 14:15] gedw99 commented on #17
BLast uses bleve to do its magic.

I agree that removing cgo is nice and badgers perf and scaling is much easier to get working with raft IMHO.

here is the issue relating to using badger.
https://github.com/blevesearch/bleve/issues/591

It looks possible now. It was not possible before.

[2018-09-12 14:33] gedw99 commented on #16
thanks @mosuka

wow that perl in there. Have not seen that in a while :)

Ok so the only way to pull this off is goin to be to make amage script so that all this stuff can be scripted in golang and then run on Windows, Mac and linux locally and in CI.

are you ok with that in your repo though ? It solves a ton is issue with cross platform stuff.

here is a great example.

github.com/elastic/beats

[2018-09-12 23:51] mosuka commented on #16
Hi @gedw99,
Thank you for your proposal. It is s great idea. I will consider to using mage for cross platform building.

[2018-09-13 00:37] mosuka commented on #17
Hi @Scapal

I agree with you to keep minimize CGO dependencies.
Currently, Blast focuses on server implementation for using Bleve on distributed environment.
I will support Badger when Bleve merges Badger's code.

Thanks.

[2018-09-13 00:41] mosuka commented on #5
Hi @fils

I close this issue. If you haven't resolve, please reopen this issue or create new issue.
Thank you for your report!

[2018-09-13 00:41] #5 closed

[2018-09-13 05:07] gedw99 commented on #16
Ok. I will work on a mage script.
I can see with does is not on the blevex building web page you mentioned, so will try my best to get it working.

I am pretty busy with things so leave this open as it's going to take a while.
Also it's best done in stages

[2018-09-27 11:34] gedw99 commented on #17
@mosuka The blocker for using Badger seems to have been lifted

see: https://github.com/blevesearch/bleve/issues/591
at the bottom @manishrjain changed Badger to support transactions with multiples readers !

[2018-09-27 13:12] gedw99 opened #22 "mac build not up to date"
Doing the full mac build, i think it yells because the framework files were updated on the latest MacOS.
I had exactly the same problem using opengl from golang also.

It does build and does run.

The source of the bug is here: https://github.com/golang/go/issues/26073

[code]

[2018-09-28 14:43] mosuka commented on #17
@gedw99 Blast has two storages. One is Bleve's index. The other one is KVS for storing raw data before indexing.
The latter currently uses BoltDB, but it is not affected by Bleve.
In the future I would like to migrate to Badger.

[2018-10-03 11:49] klausondrag opened #23 "Failing docker containers with "No help topic for 'blastd'""
### summary
The docker container seems to be broken. Instead of starting up properly they fail and exit.

### steps to reproduce
[code]

### expected result
A cluster of blast should be running and available over the network.

### actual result
The terminal output is `No help topic for 'blastd'`for every node and the nodes are restarted. They exit with `blast_blast1_1 exited with code 3`.

[2018-10-03 14:13] mosuka commented on #23
Hi @klausondrag,
Sorry for the inconvenience. The master branch is under development.
Could you use v0.3.2 tag.

https://github.com/mosuka/blast/tree/v0.3.2

[2018-10-04 11:52] klausondrag commented on #23
I see. That solved my problem, thanks!

[2018-10-04 11:52] #23 closed

[2018-11-04 07:57] gedw99 commented on #17
Hay all, there is a new badger bleve repo here: https://github.com/alash3al/bbadger

It would be great if everyone interested in this can help with examples, PR's and general dog fooding.

[2019-01-08 12:20] klausondrag opened #24 "ignore fields for index"
Hi,

in an attempt to reduce the index size, I preprocessed the data. However, when I will use the API, I want to get the human readable data back so I can show it to the user. Is there a way to exclude fields when building an index? I tried to use "x" for the preprocessed field and "\_x" for the original text. Unfortunately, this increased the index by a lot so I believe the field starting with "

[2019-03-14 02:06] rbastic opened #25 "segfault on ubuntu"
Hello,

I ran a fresh build off the latest master and then a segfault happened when I tried to startup blast.
[code]
Looks like a very exciting project, curious to know if I might be building it wrong somehow (Ubuntu 18.10)

[2019-03-14 14:44] mosuka commented on #25
Hi @rbastic,

Thank you for your report.

It doesn't seem to be a binary that includes analyzers used in index mapping. You should specifiy the build tags or optimize the index mapping.
I have release new version of Blast (v0.4.0) today. Please try this out after clone new master branch. Following commands makes a binary that include some analyzers and stemmers.

- install dependencies
[code]

- b

[2019-03-14 15:40] #22 closed

[2019-03-14 16:28] rbastic commented on #25
Thank you for fast response time! This solved the issue.

Please note I found another bug, a segfault that occurs when the 8080 port is already bound in this case. I will file a separate issue for this (I am assuming that's what you'd prefer.)

Kind regards,
Ryan

[2019-03-14 16:28] #25 closed

[2019-03-14 16:28] rbastic opened #27 "segfault when port 8080 is already bound"
Hello,

Thanks again for your last bugfix. Here is another issue:

./bin/blast-index start --node-id=index1 --data-dir=/tmp/blast/index1 --bind-addr=:6060 --grpc-addr=:5050 --http-addr=:8080 --index-mapping-file ./example/index_mapping.json
2019/03/14 16:26:27.068886 github.com/mosuka/blast/index/server.go:131 [ERR] listen tcp :8080: bind: address already in use
panic: runtime error: invalid memor

[2019-03-14 16:28] rbastic commented on #27
This happened because I was running dgraph already on my system, which also binds to port 8080. Stopping dgraph resolved this but I figured I would report the segfault anyway.

[2019-03-15 00:09] mosuka commented on #27
@rbastic
Thank you for your report.
I fixed by following:
https://github.com/mosuka/blast/pull/28

[2019-03-15 00:28] mosuka opened #30 "Add federated search"

[2019-03-15 19:36] rbastic commented on #27
Thanks! This works 👍

[2019-03-15 19:36] #27 closed

[2019-03-19 01:20] mosuka opened #39 "Support bulk update"

[2019-03-19 01:50] mosuka commented on #17
Hi @Scapal @gedw99 ,

Fixed to support Bagder.

For example, build Badger to be available for index storage as follows:

[code]

Then, you can start Blast as follows:

[code]

[2019-03-19 04:55] mosuka commented on #24
@klausondrag
I returned to this project. Sorry for my late reply.
Could you please give me more detailed examples. For example, current your index mapping, etc.
Thanks,

[2019-03-19 06:12] mosuka commented on #17
Sorry, it still have a bug.
Please wait.

[2019-03-19 12:49] mosuka commented on #17
Fixed some Bader plugin bugs. But this feature is considered experimental.

[2019-03-19 13:55] #17 closed

[2019-03-20 11:30] klausondrag commented on #24
Not a problem. My original issue was the following: This is a example result from the Readme.
[code]

Because I want to use decrease the index size and generalize better, I pre-process the text. I removed stop words and stemmed the remaining words. So the resulting field "text_en" becomes:
[code]

Originally, I wanted to expose the REST-API from blast to the internet which caused the following:
I

[2019-03-21 01:33] mosuka commented on #39
done.

[2019-03-21 01:33] #39 closed

[2019-03-21 06:58] mosuka commented on #24
Hi @klausondrag ,

`index = true` creates index data and makes the field searchable (and sortable into a face table).
`index = false` does not create index data, so it can not be searched.

`store = true` means that the original text is stored in the index, so you can retrieve fields at the search time.
`store = false` does not store the original text in the index, so you can not retrieve fields a

[2019-03-22 10:05] gedw99 commented on #16
hey @mosuka Sorry about late late reply.

I think that its not possible to run on a desktop on Windows.
Maybe it will require just doing a version without any none golang dependencies.
SO that brings the question of doing some tagging for part of the code tagged as "nodeps" maybe.
Is this something just way too had because there is CGO stuff in the code everywhere ?
I know it will mean reduced fun

[2019-03-22 10:30] gedw99 commented on #16
Did a compromise.

export CGO_ENABLED=0
export GOOS=darwin
make build

works, but i guess i will not have certain functionality.

[2019-03-22 10:45] ghost opened #45 "Feature idea: KVS pub sub"
The KVS is a generic bucket store.
I was thinking of extending it to publish changes over GRPC.

Use Case ?
When you build Clients using this system, its very useful to know when anything has change and he nature of the change. Then as a subscriber i can update my many microservices or even gui client using this. It keeps them all in sync basically.

The event would be like:
- namespace: the bucke

[2019-03-23 11:25] mosuka commented on #45
Hi gedw99,

Thank you for your feature ideas.
Pub/Sub is interesting. Unfortunately I'm familiar with it so I'll learn and think about it.
gRPC middleware is also interesting. I'll implement this little by little. :)

[2019-03-23 12:38] mosuka commented on #16
I think Windows platform is difficult to use plugins required CGO_ENABLED=1. I agree with you.

[2019-03-24 21:40] klausondrag commented on #24
Hi @mosuka , this looks really great and does even more what I wanted. I will re-evaluate redis at some point. Thanks a lot!

[2019-03-24 21:40] #24 closed

[2019-03-27 10:14] gedw99 commented on #45
hey @mosuka  thanks for considering it.

I am working on getting the Change to a Bucket to be put onto NATS.   This will mena its easy to then update users when any KV bucket changes and the nature of the change.
NATS has adapters for different client transports and also security.

I can send you links if you want.

[2019-03-27 10:16] gedw99 opened #47 "Make the API easier to work with"
Have you used https://github.com/googleapis/gnostic ?

It would make lots of the code you wrote redundant and make it much easier to extend.
Also much less bugs.

To explain.
From GPRC it can gen all of your openAPI based REST !
OpenAPI is the main way to do REST. Swagger is dead.

It can also do the opposite amazingly. OPENAPI to GRPC.
But i think using GRPC as the source of truth is best for Bla

[2019-03-31 10:53] mosuka commented on #45
@gedw99
I thought KVS would be better with an independent repository.
I decided to spin off into independent repository.
This issue will be transferred to that repository.
See following URL:
https://github.com/mosuka/cete/issues/1

[2019-04-01 01:09] mosuka commented on #45
@gedw99 I do not know if I can implement it, but I'm interested. Can you post the link to the following issue? :)
https://github.com/mosuka/cete/issues/1

[2019-04-03 20:13] gedw99 commented on #45
closing since its over in cete now

[2019-04-03 21:33] gedw99 opened #52 "basic example"
Any chance you can make a golang example that uses the GRPC API and the test data in the "examples" directory ?

It would make it much easier to get going and helping to fix things too.

[2019-04-03 21:34] gedw99 commented on #30
YOu mean like Etcd, so that when nodes come up they can tell etcd and then all the other blast nodes are told ?

[2019-04-04 05:21] mosuka commented on #30
Hi @gedw99,

Yes. Current Blast can replicate data, but it can not distributed search and indexing like a Solr or an Elasticsearch. To perform a distributed search and indexing across multiple Blast clusters(as index shards), It needs to manage the cluster information like a Solr's ZooKeeper or an Elasticsearch's master node.
There are several ways to do this:
- Use etcd-io/etcd or hashicorp/consu

[2019-04-04 05:22] mosuka commented on #52
Hi @gedw99,

Thank you for your idea.
I'll put an example code which access to Blast via gRPC directly later. It would be useful to others.

[2019-04-04 10:15] gedw99 opened #53 "replace cgo's idea"
i would really love to replace the CGO, so its more portable.

Language detector:
https://github.com/abadojack/whatlanggo
- replaces https://github.com/blevesearch/cld2
- it looks pretty well tested

Word Stemming:
There are a few around in golang. Still researching.

Let me know your thoughts...

[2019-04-04 12:07] mosuka commented on #53
Thank you for exploring the Pure Go library.
It may take a while, but I will try to implement it.:)

[2019-04-04 12:11] gedw99 commented on #53
Ok well glad its not rejected :)

I will also work on it.

[2019-04-04 12:12] mosuka commented on #47
This may also take time, but consider the implementation.
I will keep you waiting, but please give me time.

[2019-04-08 22:08] slimsag opened #54 "Are there any GUIs available?"
Hi, just a small question for anyone who might know: Are there any GUIs available for interacting with Blast?

Something like https://github.com/appbaseio/dejavu, but for Blast instead of ES?

[2019-04-08 23:33] mosuka commented on #54
Hi @slimsag ,
Unfortunately, there is no GUI.
Since Blast is under development yet, I will consider it later.

[2019-04-09 07:16] slimsag commented on #54
Thank you for the information :) I appreciate the help!

On Mon, Apr 8, 2019, 4:33 PM Minoru Osuka <notifications@github.com> wrote:

[2019-04-09 21:40] justinfx opened #55 "Possible to run as embedded service?"
Is it possible to run blast as an embedded service into an existing application cluster? That is, if there is already a service running 2+ instances and it wants to add indexing, could it run a blast cluster using the existing service nodes? I'm thinking of this like the way Nats.io server can be embedded instead of having to run standalone gnatsd processes.

[2019-04-10 02:06] mosuka commented on #55
Hi @justinfx ,
Yes. I think that you can run if you specify an unused port properly.

[2019-04-10 02:24] justinfx commented on #55
Cool. I was hoping you had an example of running it embedded. But if not I can dig around in the tests and the cmd/ to see what is needed.

[2019-04-10 02:43] mosuka commented on #55
But, Blast is still under development, I do not recommend it because the internal implementation may change significantly.

[2019-04-15 07:31] gedw99 commented on #47
Yes it's just an idea.
I use it for many projects with grpc where I also want to expose a rest interface.
The nice thing of course is the web GUI also.

[2019-04-17 01:03] NiNJAD3vel0per opened #57 "Mongodb example"
I am considering of this project for an alternative of Elasticsearch which is super heavy memory consuming index search engine. This can be an alternative??
The problem is my main db is Mongodb..
What is the best option for my situation??
I need an example mongodb connector(extractor) and rest api or grpc example for web

[2019-04-17 01:14] NiNJAD3vel0per commented on #47
What about grpc-web ?? I need let users access directly from browser.. grpc-web required in that case.
Rest api is still dominant. Grpc is not the future yet. Http/2 with Rest API is quite general approach.

[2019-04-24 09:41] gedw99 opened #58 "Ops"
Really useful logic here for Ops.

https://github.blog/2019-03-05-vulcanizer-a-library-for-operating-elasticsearch/

We can use this to help with doing the right things in ops.
For example sharing and catch-up.

[2019-04-24 14:44] gedw99 commented on #45
I just had a brain wave about another way to do this.

The raft Wal log !

We can listen to it and see what mutations are occuring

Do you have any links to an API to listen to the RAFT log ?

This btw is also how this is done with databases. The whole area is call CDC ( change data capture ). It's a reliable way because you can be sure it's committed transactionally

[2019-05-06 13:19] mosuka commented on #45
It is an interesting idea.
I'll consider to implement CDC.
Thanks!

[2019-05-06 13:20] #55 closed

[2019-05-06 13:20] #54 closed

[2019-05-06 13:21] gedw99 commented on #45
I noticed you added a watch ability to the Federation branch.
This is intended to get notified of changes i presume ?

I am in the middle of some other work, but will try to get time to try some things out soon.

[2019-05-06 13:33] mosuka commented on #45
Hi,
It is a monitor function that watching event of the cluster like adding / removing nodes.
Similarly, I will add a monitor to the indexer that watching the event of the index like adding / deleting documents.

[2019-05-06 13:35] gedw99 commented on #54
@slimsag
Had a look at dejavu

Its a large code base. Because blast is grpc based, we could code gen much of the code using one of the grpc-web golang libs.
At that point i would be thinking about if it might be easier to just us golang WASM for the rest of it.

Also,  I am planning to build a Flutter GUI library for blast, so users can use the it in FLutter apps.
I use this: https://github.com/go

[2019-05-06 13:48] gedw99 commented on #45
ok makes sense for the Nodes. Very cool.

Regarding watching for Index changes, your approach is good.
The reason why i suggested watching Raft Log is because its more generic and we can use it for Blast and Cete and maybe other stuff.
A the Raft Log level, you have better ordering and consensus too i expect.

Then we could surface it in the GRPC API. This is a good thing to examine the aspects of

[2019-05-06 13:55] gedw99 commented on #55
hey @justinfx

To run many processes inside a single one you can use Supervision trees.
There is a stable on for Golang here:
https://github.com/thejerf/suture

There is also another lib here that i am working on a bit:
https://github.com/joeblew99/runner
Its a bit wobbly still though.

[2019-05-06 19:38] justinfx commented on #55
@gedw99 thanks but I wasn't really asking about managing processes. I wanted to know if the services were written as libraries so they could be started via code, embedded in the application. This is the way gnatsd and its streaming add-on service can work, as well as a number of embedded databases.

[2019-05-22 01:45] hiqbn opened #59 "great work! can you rewrite boltdb backend to use redis?"
Instead of keeping two databases of bolt and redis, possible to rewrite backend as redis? there's interface store. hope you can help

[2019-05-23 14:27] hubyhuby opened #60 "GEO searches"
Is it possible to use blast for Geo localized searches ? It is nowadays an important feature in many projects.
If yes would it be possible to include an example at one point ? ( mapping, and search request)

I have put a very basic example of Geo search with bleve there : https://github.com/hubyhuby/bleve-search-example/blob/444d18d810064302fef76693f86f07c533552897/main.go#L138

There are two main

[2019-05-23 23:50] mosuka commented on #59
Hi @hiqbn ,
It's an interesting idea, but now I'm working on something else.
After that, I will try to develop a plugin that supports Redis experimentally if I have time.

[2019-05-24 00:17] mosuka commented on #60
Hi @hubyhuby ,

Unfortunately I haven't tried GEO Search yet.
However, Blast supports Bleve's SearchRequest. But it takes a lot of work.
Please marshal Bleve's SearchRequest into JSON (or scratch JSON based on Bleve's SearchRequest) and search it as a Blast search request.

This is an example of a Blast search request.
https://github.com/mosuka/blast/blob/master/example/search_request.json
The abo

[2019-05-24 00:33] mosuka commented on #57
Hi @NiNJAD3vel0per ,

Unfortunately, it does not have the same functionality as Elasticsearch. Smaller ones can be migrated, but distributed search and indexing like Elasticsearch are not supported yet. I am working on that development.

Currently, gRPC and a simple HTTP REST API are provided as an interface with clients. Please use these to feed data from DB.

The HTTP REST API has implemented ea

[2019-05-24 01:14] hiqbn commented on #59
can you help start something? i will help write the redis part. i have no idea how to do the connector.

[2019-05-24 01:33] hiqbn commented on #59
using it with https://github.com/yongman/tidis as backend

[2019-05-24 03:59] mosuka commented on #59
Hello @hiqbn,
This is an example of Bleve storage plugin for Badger.
https://github.com/mosuka/bbadger

Please contact me when finished.
I'll add your plug-in to Blast build option.

[2019-05-24 05:42] hiqbn commented on #59
i'll work on it but if u can do the initial redis connector will be best. it's good work what u have done. thx

[2019-05-24 11:27] hiqbn commented on #59
I don't understand the mo store.MergeOperator

can you do a boiler plate for me to work on the rest?

[2019-05-25 07:22] hiqbn commented on #59
redis does not need file to have mutex r/w lock. no idea how to write it without file accessed, i'm getting this error below:

i think it's easier modifying this
https://github.com/tukdesk/bleve-ledisdb-storage
but a few functions are missing. can you check?

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x84670

[2019-05-26 01:45] hiqbn commented on #59
this is the boilerplate for redis for your reference
https://github.com/mwmahlberg/bleve/tree/feature/kvredis/index/store/redis

[2019-05-27 09:05] gedw99 commented on #60
hey @hubyhuby

For Geo maybe use this golang db designed exactly for it: https://github.com/tidwall/tile38

My thinking is that you can run blast and tile38, but you just need a watch system somewhere and so when a mutation happen in the tile38 system, you send a event (with a payload) to Blast, and it will index it for you.

Its also safer approach long term, because you can add more specialised

[2019-05-27 16:41] hubyhuby commented on #60
Dear @mosuka ,
Thank you for your answer.
For now I have not used blast. I am thinking of using it as a faster easier way to use bleve search.
I am not sure how to "marshal Bleve's SearchRequest into JSON" . Could you explain more ?
For example how do I "marshall" this query :
 `       lon, lat := -122.107799, 37.399285
	//distance query
	distanceQuery := bleve.NewGeoDistanceQuery(lon, lat, "10000

[2019-05-29 14:32] gedw99 commented on #45
hey @mosuka

Did you see this !!
https://github.com/dgraph-io/badger/issues/684

[2019-05-30 07:55] gedw99 commented on #60
no worries, and I agree with you too that more microservices is just more pain.

If blast does enough its awesome

[2019-06-19 12:43] #30 closed

[2019-06-19 12:46] gedw99 commented on #30
I was playing with federation branch yesterday.

Can't wait to try this out.
Fantastic work !!

[2019-06-19 13:05] gedw99 commented on #55
Hey all.

I have been using a grpc implemention that is able to be compiled and exposes the API as golang channels
You can use normal grpc and it generates the golang client and server and all the golang channel code

This means you can embed it and not have any network endpoints or ports opened !

Because blast is based on protobuf and grpc it's very likely to work and be easy to keep updated ( n

[2019-06-19 13:14] gedw99 opened #61 "Management of federated cluster"
What's the suggested plan for management of the federated cluster ?

Try to be DRY and use the standard tracing, logging, metrics solutions out there in golang land.
This enables a dev to bring blast up and have the insight without learning new tools.

Am wondering if we should build a web based dashboard to provide the ability for a developer ( rather than a SRE ) to play with blast but also to h

[2019-06-20 08:20] mosuka commented on #61
Hi @gedw99 ,
I'm planning to support Prometheus and Grafana to monitor Blast. Prometheus and Grafana are famous and popular system surveillance systems.
I have already implemented metrics exposition endpoint for Prometheus (`/metrics`).
Current metrics are not sufficient for system monitoring but will be expanded in the future.

[2019-06-21 09:01] mosuka commented on #60
Hi @hubyhuby ,
Sorry for late reply. I added GEO search example.
https://github.com/mosuka/blast/blob/master/README.md#geo-example
Could you try this out?

[2019-06-25 14:34] gedw99 commented on #61
sounds good :)

[2019-07-03 06:52] mosuka opened #70 "Improve indexing performance"

[2019-07-03 15:20] mosuka commented on #70
Done

[2019-07-03 15:20] #70 closed

[2019-07-04 15:39] #60 closed

[2019-07-04 15:39] #61 closed

[2019-07-18 10:31] prologic commented on #52
@mosuka Speaking of which... I'm looking at using your project blast in an experimental proof-of-concept search engine. Can you help me understand a little more about how to create index mappings? I've read through the Bleve documentation and I'm still "not getting it" yet. My use-case is to index Web Pages. Thanks!

[2019-07-19 02:52] mosuka commented on #52
@prologic Thank you for your interest in Blast!
This repository contains an example for Wikipedia indexing and its mapping file. It looks very similar to web page indexing. Could you refer to this one?
https://github.com/mosuka/blast#wikipedia-example
https://github.com/mosuka/blast/blob/master/example/enwiki_index_mapping.json

Also, Bleve provides web-based UI for creating index mapping. See the

[2019-07-19 05:44] prologic commented on #52
Yes! I've already  looked at this.

This I didn't know! Thank you :D I'll have a play around with it!

I was actually more interested in sharing your experiences or what you've learned more than anything. I can read documentation too; but learning from others is sometimes more productive  :)

[2019-07-25 17:16] StevenACoffman opened #83 "Possible to build a Blind index using blast?"
We have security requirements that require the use of encryption at rest. We would like to be able to build an index of the unencrypted plain text, and then ship the index and the encrypted data files, without leaking the plain text. Is this something that is possible with blast/bleve?

[2019-07-29 12:45] mosuka commented on #83
Hi,
While Blast will be able to encrypt HTTP and gRPC communications using TLS, it is difficult to encrypt the index itself. I'll create an issue about using TLS.
Thanks.

[2019-07-30 08:10] mosuka opened #88 "Implement TLS Encryption"

[2019-08-07 20:43] joeblew99 opened #102 "Reusability - grpc"
We are considering to use Blast for a Project to replace Elastic Search.

But we need to support many languages and GRPC makes it much easier.
Also for the HTTP is gives the devs a swagger REST API.

Blast would be easier to use from different languages and the web if the API used GRPC and GRPC Gateway.

https://github.com/grpc-ecosystem/grpc-gateway

Easy example
https://github.com/johanbrandhors

[2019-08-08 02:34] mosuka commented on #102
Hi @joeblew99 ,
Sounds good.:)
I'll replace to grpc-gateway from the current HTTP server.

[2019-08-08 04:59] nadilas opened #103 "Search with prefix"
Hi,

I was wondering if I’m doing anything wrong, but other than doing a match query I can’t seem to perform a prefix query at all. According to the bleve documentation I should be able to do that by using “prefix”: “searchterm”. However it doesn’t yield any results. Do you have an example search query for prefix?

Thanks!

[2019-08-08 06:42] mosuka commented on #103
Hi @nadilas ,

See the following search request. You can search for documents that contain the term `search` in the `text_en` field.

[code]

[2019-08-08 07:01] nadilas commented on #103
Hi @mosuka ,

thanks, is that a direct alternative to the http://blevesearch.com/docs/Query/#prefix ?

[2019-08-08 07:19] mosuka commented on #103
Blast uses Bleve SearchRequest converted to JSON directly.
For more details, please see the following:
https://github.com/blevesearch/bleve/blob/75cdaca51a2ad20227868a152dfb599981b93623/search.go#L269
https://blevesearch.com/docs/Query-String-Query/

Thanks,

[2019-08-08 07:22] nadilas commented on #103
Right, I found that. however, when I set "query" to a json instance of a PrefixQuery https://github.com/blevesearch/bleve/blob/9b6e89951d4e9207356a833a7d99577cfe249208/search/query/prefix.go
it doesn't work.

[2019-08-08 07:45] mosuka commented on #103
Sorry, I misunderstood your question.
Please see the following JSON. You can search for documents that contain the term that has prefix `s` in the `title_en` field.

[code]

[2019-08-08 10:45] nadilas commented on #103
Okay, I'm trying to do that, but I want to search through all fields and do not restrict it to a specific one. Can "fields" accept a "*" or do I need to list all the fields where I want to search?

[2019-08-09 16:58] joeblew99 commented on #102
I had a look at the GRPC code you have now.
Wondering if you knew about GRPC Gateway back then or not ?

What do you think of this approach ?

1. Client (some MicroService written in any language).
- They could use swagger ( from GRPC gateway ) to codegen their own code.
- Or they can take the GRPC and codegen their own code.
- Or they can just make raw HTTP calls, which would be pretty aweful bec

[2019-08-09 20:46] egorsmkv opened #104 "Ukrainian analyzer"
Hello.

Is there an analyzer for the Ukrainian language?

[2019-08-10 01:12] mosuka commented on #104
Hi @egorsmkv
Ukrainian analyzer does not seem to be supported.

https://github.com/blevesearch/blevex/tree/master/lang

[2019-08-10 10:45] egorsmkv commented on #104
Okay. Thanks.

[2019-08-10 10:45] #104 closed

[2019-08-11 03:45] #83 closed

[2019-08-11 15:15] #103 closed

[2019-08-20 14:14] fi0 opened #106 "Multiple index"
Can I run 1 indexer for multiple indexes?

[2019-08-21 00:04] mosuka commented on #106
Hi @fi0 ,
Unfortunately, Blast does not support multiple indices. However, Bleve used by inside Blast supports pseudo multiple IndexMappings by DocumentType.
See the following Bleve documentation and the sample IndexMapping for details:
- https://blevesearch.com/docs/Index-Mapping/
- https://github.com/mosuka/blast/blob/master/example/wiki_index_mapping.json

[2019-08-21 13:26] fi0 commented on #106
thank you!

[2019-08-21 13:26] #106 closed

[2019-08-28 12:36] mosuka commented on #102
@joeblew99
I released v0.8.0, rewritten to grpc-gateway.
I'm not familiar with swagger, but it creates swagger.json. However, expected swagger.json could not be generated because Bleve's SearchRequest and SearchResult use Protocol buffers's any.proto. I will continue to investigate it.
Currently, the user will need to write a raw HTTP request directly.

Can you tell me a few about the CLI library?

[2019-08-28 13:12] l4u commented on #102
@mosuka what was the protoc command you used? Probably an extra param for proto_path is needed.

[2019-08-28 14:31] joeblew99 commented on #102
hey @mosuka awesome stuff. I will have a look soon.

About the GRPC tools.
There is a general list here:
https://github.com/grpc-ecosystem/awesome-grpc#tools-cli

May Favs:

CLI for GRPC
https://github.com/fullstorydev/grpcurl
- pretty cool

Web GUI for GRPC
https://github.com/fullstorydev/grpcui
OR
https://github.com/gogo/letmegrpc

Proxy
https://github.com/improbable-eng/grpc-web

Just ask if th

[2019-08-28 14:35] mosuka commented on #102
Hi @l4u @joeblew99 ,
swagger.json has been generated.
https://github.com/mosuka/blast/blob/master/protobuf/index/index.swagger.json

However, the response specification is not what I expected. For example, the response body specification of GetResponse will be any.proto.
This is because google.protobuf.Any is used for `fields` in GetResponse.

I would like to hear your opinion. Which is the prefer

[2019-08-28 15:01] joeblew99 commented on #102
@mosuka

do you have to use  google.protobuf.Any ? What is the reason for it ?

Here is boilerplate BTW.
https://github.com/johanbrandhorst/grpc-gateway-boilerplate/blob/master/proto/example.proto

[2019-08-28 15:08] joeblew99 opened #108 "grpc gen ( web and non web)"
Just adding this for generating different languages.
https://github.com/johanbrandhorst/grpc-web-generators

[2019-08-28 16:53] mosuka commented on #102
@joeblew99

The index mapping specified at startup determines the field name and type of the document. Therefore, since it is difficult to handle as Struct, Blast handles the document and as `map[string]interface{}`.

In Protocol Buffers, it is difficult to express `map[string]interface{}`, `bleve.SearchRequest` and `bleve.SearchResult`, so I use the `Any` message type.

[2019-09-04 21:03] joeblew99 commented on #102
@mosuka

Sorry i got side tracked on something else.
It seems you did the commit anyway ?

[2019-09-08 13:25] mosuka commented on #102
@joeblew99
I had implement grpc-gateway in v0.8.0. However swagger is still incomplete.

[2019-09-23 17:59] nadilas opened #110 "Custom header?"
Hi,

I need to add a custom header for environment selection behind a load balancer. I noticed that I can’t append to the outgoing context of the grpc client, since it’s private.

I am using tag 0.7.1. Is adding custom headers implemented in higher versions?

Thanks

[2019-09-25 14:23] Peipeilvcm opened #111 "Performance test and compare performance with elasticsearch or go-geo/roit"
In some cases, performance of blast is worth being noticed.

Giving a benchmark is a good way to make users to choose this project.

[2019-09-27 03:16] mosuka commented on #111
Hi @Peipeilvcm ,
Although it is not Blast, I published the benchmarks of Bleve (used by Blast) and other famous full-text search libraries.
Speed ​​is an important factor in selecting a full-text search library, but it is also necessary to consider whether the functional aspects such as tokenizer and filter are sufficient. However, I think it will be helpful.

https://github.com/mosuka/search-benc

[2019-10-02 16:27] #111 closed

[2019-10-10 07:41] Peipeilvcm opened #112 "An usable web client for blast just like kibana for elasticsearch?"
For using blast easily, a web client for accessing blast seems to be a good way.

Is there an an usable web client for blast just like kibana for elasticsearch?

Or, is there an open source project to build a web client quickly for querying?

And I have created a simple go-web for querying term and want it to support more query method like numeric range, prefix, date and so on.

May you have some

[2019-10-12 08:20] Peipeilvcm opened #113 "Which index type does blast used? upside_down or scroch??"
It seems that scroch index type can be lighter(refer to [bleve/issues/1186](https://github.com/blevesearch/bleve/issues/1186)), which costs smaller index size.

If blast uses upside_down index type by default, how can I change to use scroch index type?

Thanks a lot.

[2019-10-13 14:08] mosuka commented on #112
@Peipeilvcm
Sorry for the late reply. Unfortunately, there isn't a web-based interface like a Kibana for Blast.

[2019-10-13 14:12] mosuka commented on #113
@Peipeilvcm
Blast already supports scorch. You can use scorch for the index storage backend with the following command:

[code]

[2019-10-14 06:48] Peipeilvcm commented on #113
Does index-storage-type need to be setted as scorch, I set it "boltdb" and work well,

[2019-10-14 11:05] Peipeilvcm opened #115 "More Query String Query Examples"
Query String Query supports all kinds of query such as Phrases, Field Scoping,  Boolean Query, Numeric Ranges, fuzzy search and so on.

If more examples are given, it seems to be more friendly to tiro.

[2019-10-14 11:22] mosuka commented on #113
Hi @Peipeilvcm
When `upside_down` is specified for `--index_type`, `--index-storage-type` is enabled. As you point out, if you specify `scorch` specified for `--index_type`, actually `--index-storage-type` will ignored.
However, since `bleve.newIndexUsing` is called in index creation, an error will occur if `--index-storage-type` (`kvstore`) is omitted, so it is necessary to specify some string fo

[2019-10-14 12:16] mosuka opened #116 "The storage backend only supports scorch"
When KVS such as BoltDB is used as a storage backend, the index size is too large, so only scorch is supported.

[2019-10-15 05:26] Peipeilvcm opened #118 "Consensus Protocol Implement method?"
I know from Readme, the cluster is built based on  Raft consensus algorithm.

But when I try to use the cluster mode, when I kill the leader node, re-election didn't happened.

Does Blast support leader re-election?

And for consensus, The write operation(indexing, PUT) should only happen on Leader node. I use http indexing request to follower node when leader has been killed, it still works well,

[2019-10-15 10:07] mosuka commented on #118
Hi @Peipeilvcm ,
Thank you for your report.
Unfortunately, it could not occur in my environment.
I tried the following command. Can you share your commands?

Start indexer1:

[code]

Start indexer2:

[code]

Start indexer3:

[code]

You can see cluster info as following:

[code]

Stop indexer1, the leader, and check the cluster information using the following command:

[code]

You can see one of t

[2019-10-16 07:40] #113 closed

[2019-10-17 03:13] Peipeilvcm commented on #118
@mosuka no reply?

[2019-10-17 07:33] mosuka commented on #118
Hi @Peipeilvcm ,
Sorry for the late reply.
Data replication was completed by restarting indexer1 as follows:

[code]

It may take some time to elect a leader.
Can you check it?

[2019-10-17 10:57] mosuka commented on #118
@Peipeilvcm

I added a `docker-compose.yml`. If you use Docker to build a cluster, please refer to following as well:
https://github.com/mosuka/blast#running-cluster-on-docker-compose

[2019-10-17 14:41] Peipeilvcm commented on #118
@mosuka , can indexing happen on follower nodes? In my operations above, I can index a document enwiki_2 on follower node by curl.

[2019-10-17 15:21] mosuka commented on #118
Yes.  When a follower receives an update request, it will forwarded to the leader.

[2019-10-22 04:17] mosuka commented on #118
In Blast, update requests received by followers are forwarded to the reader once.  The followers do not update the data directly.

[2019-12-12 01:29] sugarme opened #120 "re-index / update an individual document"
Sorry if this had been addressed but I could not find anywhere. It is not an issue but rather a feature. Saying I have a collection of documents in MongoDB and indexed using blast. Now I update an individual document in MongoDB database, how I can reindex this document with blast?

Is there anyway that I can retrieve indexed Id of this document so that I can delete and recreate new index? Or Are t

[2019-12-12 12:17] rrjanbiah opened #121 "Comparison with other systems like Toshi/Tantivy"
Are there any marketing materials that compare with other systems like Toshi/Tantivy in terms of features and performance?

[2019-12-12 12:19] rrjanbiah opened #122 "Syncing or integrating with existing PostgreSQL database"
Are there any recommended approach to sync with PostgreSQL? IOW, how do people using Blast integrate it with their existing PostgreSQL systems?

[2019-12-13 01:59] mosuka commented on #120
Hi @sugarme ,
To update the index, please send the same content to Blast as the update to MongoDB.

[2019-12-13 02:02] mosuka commented on #121
Hi @rrjanbiah ,
There is no such marketing material, but Bleve, Lucene, and Tantivy's benchmarks have been published at the following URL:
https://mosuka.github.io/search-benchmark-game/
https://github.com/mosuka/search-benchmark-game

[2019-12-13 02:06] mosuka commented on #122
Basically, send PostgreSQL data to Blast and index it. I haven't heard of Blast use cases yet.

[2019-12-13 06:53] rrjanbiah commented on #121
@mosuka Thank you so much for sharing honest comparison that explains Bleve (hence Blast) is slowest

[2019-12-13 06:54] rrjanbiah commented on #122
@mosuka Thank you so much for your reply. Hopefully debezium along with Kafka will help for real time sync.

[2019-12-13 07:41] mosuka commented on #121
@rrjanbiah I also create search server written in Rust. But it is in proof of concept stage.
https://github.com/bayard-search/bayard

[2019-12-13 12:58] rrjanbiah commented on #121
@mosuka Wow! Thanks for sharing. You may add marketing material by comparing it against Toshi... that will be immensely helpful

[2019-12-13 14:18] sugarme commented on #120
Works perfectly. Thanks.

[2019-12-13 14:18] #120 closed

[2019-12-24 19:34] joeblew99 commented on #122
The other more scalable way is to use CDC on the SQL database

The change feed can then be used to update blast.

This is the pattern typically used because you can then update a myriad of systems when the data in the dB mutates
It also means that you respect the transactions in the DB being committed or rollbacked

[2019-12-30 07:20] rrjanbiah commented on #122
@joeblew99 Thanks for sharing your ideas. For Postgres, do you know any solution other than debezium ?

[2020-01-17 21:29] flaviostutz opened #123 "Error getting document by ID over rest API"
I get an error when issuing a very simple query over rest endpoint:

[code]
Seems like a Golang cast issue. I could not find the location this is handled on code. Anyone could help?

[2020-01-20 01:34] mosuka commented on #123
Hi.
What schema and document can reproduce the error?

[2020-01-20 13:21] flaviostutz commented on #123
I defined no schema prior to “PUT” document. Maybe this is the cause. How do I create a “schema”?
(All other functions are working regardless of not having a prior schema do the document)

Sent from my iPhone

[2020-01-23 02:28] flaviostutz opened #124 "Is there a way to create new mapping definitions using the REST API?"
I need to dynamically create new document types (new mappings) after running an index in Blast. Is there a way to do it?

[2020-01-23 03:02] mosuka commented on #123
@flaviostutz
Sorry for the late reply.

I defined no schema prior to “PUT” document. Maybe this is the cause. How do I create a “schema”?

Please refer to example schema :
https://github.com/mosuka/blast/blob/master/example/wiki_index_mapping.json

Or, refer bleve-mapping-ui:
https://github.com/blevesearch/bleve-mapping-ui

[2020-01-23 03:05] mosuka commented on #124
Sorry, Blast doesn't support it.

[2020-03-19 18:13] #45 closed

[2020-03-22 17:54] #124 closed

[2020-03-22 17:55] #123 closed

[2020-03-22 17:56] #112 closed

[2020-03-22 17:57] #118 closed

[2020-04-07 07:44] mosuka opened #125 "Delete the experimentally implemented feature for distributed search"
Rethink the possibility of implementing distributed search using [etcd](https://etcd.io/) or other software.
This feature is experimental and will be removed.

[2020-04-07 07:55] mosuka opened #126 "Implement CORS"

[2020-04-07 08:10] #125 closed

[2020-04-07 08:10] #116 closed

[2020-04-07 08:10] #102 closed

[2020-04-07 08:11] #88 closed

[2020-04-07 09:12] #126 closed

[2020-04-07 09:49] gedw99 commented on #102
I found a much easier solution to the grpc aspects.

Started to use envoy to run the grpc-web layer.
It is very recommend.

Gloo from solo makes it easy.

We just run it with standard kubernetes.

See here : https://github.com/getcouragenow/packages/tree/master/maintemplate/server/deployments/helm/templates

Blast and cete are then much simpler.

We plan to stand up with in our cluster.
I can send

[2020-04-07 10:00] winwisely99 commented on #108
The more extensible option is to use envoy .

It does full grpc-web

It can be run on arm and AMD.

Will make a PR if this is welcomed ??

[2020-04-07 10:02] winwisely99 commented on #108
It would mean that these imports are not needed.

github.com/grpc-ecosystem/go-grpc-middleware v1.2.0
	github.com/grpc-ecosystem/go-grpc-prometheus v1.2.0
	github.com/grpc-ecosystem/grpc-gateway

Envoy does this at runtime and  is very fast

[2020-04-08 12:32] mosuka commented on #108
@winwisely99
PR for the grpc-web layer is welcome. :)
But I'd like to keep the code that uses grpc-midlleware, etc., in case I don't use Envoy.

[2020-04-08 12:33] mosuka commented on #102
@gedw99
Sure. That sounds great.
PR for the grpc-web layer is welcome. :)

[2020-04-08 18:41] joeblew99 commented on #102
Ok will work on it.

It can also be used for that rust version . Can't remember it's name :)

Gloo can be used to run envoy for you.
It's a golang wrapper for Envoy proxy and so makes it easy to scale without
having to get into the complexity of kubernetes.

You can use it with nomad oncloud or onpremise to scale it out and drive it
with consul

On Wed, 8 Apr 2020, 14:33 Minoru Osuka, <notificatio

[2020-04-09 02:24] mosuka commented on #53
Made a PR.
https://github.com/blevesearch/blevex/pull/47

[2020-06-16 17:52] valentinedwv opened #136 "docker no http beyond root"
I get 404 for any query except /
[code]

failure

[code]

[code]

[2020-06-20 14:00] lauthrul opened #137 "How to search documents with id prefix?"
I have two kind of documents, A and B, I index them in bulk with different document id prefix. basically like:
[code]
Now I only want to search documents with id prefix "path/A/". How to do this?

[2020-06-21 15:13] mosuka commented on #137
Hi @lauthrul ,
`id` can only be used to search for exact matches.
Why don't you add the following field to search there?

[code]

Add the following field definitions to your schema:

[code]

You could search for the following query:

[code]

[2020-06-22 04:04] lauthrul commented on #137
Thanks for reply. Because the document is unchangable, so I can't add id filed to the document. I found a way to search with id prefix, just add "+_id:path/A/*" to the query. But now there is another question. How to implement logic operatation(and, or) in the query conditon? For example, I want to search A kind documents which contains "xxx" in name or some other fileds(let's say short_name). thi

[2020-06-24 22:02] pffreitas commented on #136
I had the same issue and upgraded to version 0.9.0 which works fine. It's not published under `mosuka/blast` on docker hub though. I end up building a docker image for 0.9.0 and it's published on ` pffreitas/blast`

[2020-06-29 14:12] ex0hunt opened #138 "leadership lost in docker-compose"
Hi! I trying to run blast cluster in docker-compose and catch error
[code]
It's not RC between nodes and single master-node works fine. Can you help with this?
[Full log](https://pastebin.com/qYziYvM6)
[docker-compose.yml](https://pastebin.com/Y4Q8PxnP)

[2020-06-30 04:13] mosuka commented on #136
@valentinedwv @pffreitas
Sorry, it took me so long to reply. And I'm sorry for the inconvenience.
I released v0.9.1 and also pushed containers to Docker Hub. Please use it.

Blast uses grpc-gateway. Check the following files for available HTTP endpoints:
https://github.com/mosuka/blast/blob/master/protobuf/index.proto

[2020-06-30 04:17] mosuka commented on #138
@ex0hunt
Sorry, it took me so long to reply. And I'm sorry for the inconvenience.
I released v0.9.1 and also pushed containers to Docker Hub. Please use it.

I'll try your docker-compose.yml when I have time.

Thanks!

[2020-06-30 05:07] mosuka commented on #137
@lauthrul
Bleve's QueryStringQuery may not be able to express complex queries.
You may need to use a combination of BooleanQuery or similar.

http://blevesearch.com/docs/Query-String-Query/

[2020-06-30 20:55] pffreitas commented on #138
@ex0hunt,

You need to specify raft, grpc and HTTP addresses including the node name, e.g. `--grpc-address=extend-node2:9002` rather than `--grpc-address=:9002`

Here's the full docker-compose.yaml:

[code]

[2020-07-01 08:53] ex0hunt commented on #138
@pffreitas yes, it works! Thank you!

[2020-07-16 09:50] #138 closed

[2020-07-17 01:14] #136 closed

[2020-08-18 23:10] jkassis opened #140 "Snapshotting and Chaos Testing"
Are you sure that the snapshotting mechanism is transactional / point in time? Have you chaos tested this?

Reviewing the code. Index.SnapshotItems() returns a channel that delivers each document in the index. Internally, that calls Bleve Index.Index.DocIDReaderAll, which does not guarantee a snapshot.

[2020-08-19 00:33] jkassis commented on #140
see https://github.com/blevesearch/bleve/issues/1396

[2020-09-02 08:48] lauthrul opened #141 "How to use simple analyzer?"
Hi, I want to use simple analyzer for removing english stop words and leave othe feature as default. I see the example you provided, and customized my mapping like this:
[code]
But this didn't work. When I index a field with text "I'm not a hero", I still can't seach by keyword "not".
I'm not sure if the mapping is correct, can you help me to check it out?

[2020-09-03 08:27] lauthrul commented on #141
Alright, I find a solution, just remove data folder and rebuild all indexs. Maybe the sotrage still use the old analyzer?

[2020-09-03 09:48] mosuka commented on #141
Hi @lauthrul ,
Sorry for the late reply.

Yes. The existing index retains the previous mappings, so if you change the mappings, I think you will need to recreate the index.

[2020-09-03 13:14] #141 closed

[2020-09-09 15:32] PabloCastellano opened #143 "Some questions about queries"
Hello. I'm testing blast to check if it could replace elasticsearch for my use case.

However I find the examples very brief and don't understand the following query example.

https://github.com/mosuka/blast/blob/bfa81067715553dc982360ea584726e3331ba2a8/examples/example_search_request.json#L1-L14

After reading this example, I have the following questions.
* What does `_all` means in the query fie

[2020-11-11 15:47] rrjanbiah commented on #121
FWIW, @mosuka You may also want to add @meilisearch and @typesense in the benchmark

[2021-01-03 12:42] gedw99 opened #144 "bleve v2 and blast"
level v2 is moving forward fast and i think blast can gain from it.

bleve has changed storage formats almost as much as how often it rains, but v2 looks at this point to be more stable.

https://github.com/blevesearch/blevex/pull/50/files

[2021-01-03 12:54] mosuka commented on #144
@gedw99
Thank you for letting me know. I'll try it when I have time.

Thanks! :)

[2021-01-14 15:48] #144 closed

[2021-01-15 11:44] joe-getcouragenow commented on #144
:) awesome !!!

[2021-01-15 13:42] joe-getcouragenow opened #146 "https://github.com/blevesearch/blevex"
Just wondering about why https://github.com/blevesearch/blevex is not part of the imports.

It seems to have the stemmers, stop words etc need for multi languages

[2021-01-16 02:01] mosuka commented on #146
Thanks. let me check.

[2021-01-17 14:15] radutopala opened #147 "Dockerfile image not being built"
[code]

Works with this patch:
[code]

[2021-01-18 14:27] mosuka commented on #147
@radutopala Thanks for your contribution!

[2021-01-18 14:27] #147 closed

[2021-05-27 14:31] fahmifan commented on #143
AFAIK, you could check blevesearch docs https://blevesearch.com/docs/Query-String-Query/,
from your example, `+_all:search` it will match string `search` to all fields in the mapping.

[2021-08-03 13:25] afanasevek opened #150 "is dead"
Hello.
Is project dead ?

[2021-09-05 12:42] egorsmkv commented on #146
@mosuka hello, what do you think about adding those extensions to Blast?

[2021-09-17 17:47] egorsmkv opened #151 "I have got a SIGSEGV: segmentation violation"
The log of the fault is:

[code]

[2021-09-17 17:52] egorsmkv commented on #151
I was using the docker version of Blast: **mosuka/blast:v0.10.0**